body{
    background-image: url("./img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cardimg{
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.cardimg h5{
    text-align: center;
}
.card-img-top{
    height: 300px;
    object-fit: cover;
}
.main{
    justify-content: space-between;
}